<!DOCType html>
<html>
<head>
<title>proj4</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
   </head>

<body>
    <form name ='form'method='get'>
   <table class="table table-hover table-striped">
        <tbody>
    <tr>
        <th>label</th>
        <th>forms elements</th>
    </tr>
        
    <tr>
        <td> USERNAME</td>
        <td><input type='text'
               name='username'
               id='uname' placeholder="Enter username" value='sample'>
               </td>
    </tr>
        <tr>
        <td> password</td>
        <td><input type='password'
                   name='password' 
                   id='password' placeholder="Enter password">
            </td>
        </tr>
             <tr>
        <td> Gender</td>
        <td><input type='radio'
               name='gender'
               value='male'>male
               
                 <input type='radio'
               name='gender'
               value='female'>female
              
                 <input type='radio'
               name='gender'
               value='Any other'>Any other
               </td>
    </tr>
             <tr>
        <td> CARS</td>
        <td><input type='checkbox'
               name='toyota'
             values='toyota'> toyota <br>
            <input type='checkbox'
            name='Honda'
             values='Honda'> Honda<br>
            <input type='checkbox'
               name='BMW'
             value='BMW'> BMW<br>
            <input type='checkbox'
               name='Ford'
             values='Ford'> Ford
               </td>
                 
    </tr>
            <tr>
                <td> Countries</td>
                <td>
                    <select name="Countries">
                        <option value=""></option>
                        <option value="USA">UNITED STATES</option>
                         <option value="UK">UNITED KINGDOM</option>
                         <option value="AUS">AUSTRALIA</option>
                         <option value="PAK">PAKISTAN</option>
                         <option value="IND">INDIA</option>
                        <option value="NEP">NEPAL</option>




                        
                    </select>
                </td>
            </tr>
            
       </tbody>
        </table>
    <input type ='submit' value='sumit'>
    </form>
    
</body>
</html>